<h1>Share photos with friends</h1>
<p>
	Mafoto is a simple web app that allows you to share your favourite photos with friends!
<p>
<p>	
	Here, you can:
	<ul>
		<li>Create a group</li>
		<li>Upload photos to the group</li>
		<li>Invite users to the group</li>
		<li>Allow invited users to comment on photos</li>
	</ul>
</p>

<%= link_to "Join Now", :class => "join_now"%>
