<h1>Listing groups</h1>


<% @groups.each do |group| %>
    <%= link_to group.name, group %>
    <%= link_to 'Edit', edit_group_path(group) %> |
    <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %><br ><br />
<% end %>

<br />

<%= link_to 'New Group', new_group_path %>
