/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
	font-family: "Trebuchet Ms", sans-serif;
	font-size: 12px;
	margin: 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
/*----------- style the logo ----------*/
.header_logo {
	text-decoration: none;
	color: #fff;
	font-size: 24px;
	font-style: italic;
	font-family: "Trebuchet MS", sans-serif;
}
/*----------- style the top navigation header ----------*/
.header {
	width: 99%;
	height: 50px;
	background-color: #666666;
	padding: 0px 5px 5px 5px;
}
/*----------- style the top navigation links ----------*/
ul.top_links {
	list-style-type: none;
	margin-left: 700px;
	float: right;
}
ul.top_links li {
	display: inline;
	text-align: center;
	margin-left: 30px;
}
ul.top_links li a{
	color: #fff;
}
/*----------- style the body ----------*/
.container{
	margin: 0 auto;
	width: 850px;
	background-color: #fff;
	height: auto;
	min-height: 500px;
	padding: 5px 5px 5px 15px;
	margin-top: 0;
}