<a href="/" class="header_logo">Mafoto</a>
<ul class="top_links">
	<li><%= link_to "Home"%></li>
	<li><%= link_to "About"%></li>
	<li><%= link_to "Sign In"%></li>
	<li><%= link_to "Sign Out"%></li>
</ul>